:root{
    --white:#fff;
    --poppinsfont:'Poppins', sans-serif;
    --kaushanfonts:'Kaushan Script', cursive;
    --interfonts:'Inter', sans-serif;
    --jurafonts:'Jura', sans-serif;
    --blue: #173157;
    ;
    --green: #244B49;
    ;
    --lightblue:#162741;
    --footercolor: #080F18;
    --creativecolor: #FFAB34;
    --menufontclr: #E4E4E4;
}
/* common css start */
*{
    margin: 0;
    padding: 0;
    outline: 0;
}
ul ol li {
    list-style: none;
}
a{
    text-decoration: none;
    display: inline-block;
}
/* common css end */
/* navbar section start */
#home_page{
    background: url(../images/banner.jpg);
    object-fit: cover;
}
.overlay{
    background: linear-gradient(82.06deg, rgba(1, 1, 1, 0.62) 46.14%, rgba(31, 169, 180, 0) 101.22%);
    box-shadow: inset 0px 115px 83px rgba(0, 0, 0, 0.7);
}
#navbar{
    margin-top: 15px;
}
#navbar ul{
    gap: 30px;
    margin-left: 102px;
}
#navbar ul li a {
    font-family: var(--poppinsfont);
    font-weight: 500;
    font-size: 15px;
    line-height: 112%;
    text-align: center;
    letter-spacing: 0.15em;
    color: var(--white);
}
/* navbar section end */
/* banner section start */
.banner_info h1{
    font-family:var(--kaushanfonts);
    font-weight: 400;
    font-size: 80px;
    line-height: 112%;
    text-align: center;
    letter-spacing: 0.15em;
    color: var(--white);
    margin-right: 238px;
    margin-top: 65px;
    margin-bottom: 18px;
}
.banner_info span{
    font-family: var(--interfonts);
    font-weight: 800;
    font-size: 20px;
    line-height: 112%;
    text-align: center;
    letter-spacing: 0.15em;
    color: var(--white);
}
.banner_info p{
    font-family: var(--interfonts);
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.15em;
    color: var(--white);
    padding-right: 100px;
    margin-top: 11px;
}
.button_info {
    display: flex;
    justify-content:left;
    align-items: center;
    gap: 39px;
    margin-top: 34px;
}
.button_info .button_1 a{
    font-family: 'Inter';
    font-weight: 600;
    font-size: 29px;
    line-height: 112%;
    text-align: center;
    letter-spacing: 0.15em;
    color: var(--blue);
    background: var(--white);
    padding: 16px 20px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    transition: all linear .3s;
}
.button_info .button_1 a svg{
    fill: var(--blue);
    transition: all linear .3s;
}
.button_info .button_1 a:hover svg{
    fill: var(--white);
}
.button_info .button_1 a:hover{
    color: var(--white);
    background: var(--blue);
    stroke: var(--white);
}

.button_info .button_2 a{
    font-family: 'Inter';
    font-weight: 600;
    font-size: 29px;
    line-height: 112%;
    text-align: center;
    letter-spacing: 0.15em;
    color: var(--white);
    background: var(--green);
    padding: 16px 20px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    transition: all linear .3s;
}
.button_info .button_2 a:hover{
    color: var(--blue);
    background: var(--white);
    fill: var(--blue);
}
.normal_info {
    
    display: flex;
    justify-content: right;
    align-items: center;
    margin-top: 28px;
}
.normal_info span{
    font-family: var(--poppinsfont);
    font-weight: 600;
    font-size: 20px;
    line-height: 112%;
    letter-spacing: 0.15em;
    color: #D9D9D9;
}
.slider_item{
    margin-top: 20px;
}
.video_sec {
    margin: 0 7px;
    position: relative;

}
.video_slider .slider_item .video_sec  .overlay{
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    transition: all linear .2s;
}
.slick-center .overlay{
    
}
.video_slider .slider_item .video_sec  .overlay svg{
    stroke: var(--menufontclr);
}
.video_slider .slider_item .video_sec:hover .overlay{
    opacity: 1;
    visibility: visible;
}


.video_sec img{
    object-fit: cover;

}

/* banner section end */
/* entertainment section start */
#entertainment{
    background: var(--lightblue);
}
.info_area{
    margin:122px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
}
.info_area h2{
    font-family: 'Inter';
    font-weight: 600;
    font-size: 40px;
    line-height: 112%;
    letter-spacing: 0.15em;
    color: var(--white);
}
.info_area p{
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.15em;
    color: var(--white);
    margin-top: 27px;
}
.info_area a{
    font-family: 'Inter';
    font-weight: 600;
    font-size: 29px;
    line-height: 112%;
    text-align: center;
    letter-spacing: 0.10em;
    color: var(--blue);
    background: var(--white);
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 18px;
    transition: all linear .3s;
}
.info_area a:hover{
    background: var(--blue);
    color: var(--white);
}
.info_area .movie_image{
    max-width: 100%; 
    height: auto;
}
/* entertainment section end */
/* information section start */

#information_info{
    background: #101C2E;
   

}
.social_info{
    margin-top: 30px;
    display: flex;
    justify-content:center;
    align-items: center;
    
} 
.social_info .col-lg-4{
   text-align: left;
    
}
.icon_sec{
    display: flex;
    justify-content:center;
    align-items: center;
    gap: 30px;
}

.icon_sec a{
    color: var(--white);
    border: 1px solid var(--white);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content:center;
    align-items: center;
    transition: all linear .2s;
}
.icon_sec a i{
    font-size: 20px;
    display: flex;
    justify-content:center;
    align-items: center;
}
.icon_sec .icon_facebook a:hover{
    color: red;
    border: 1px solid red;
}
.icon_sec .icon_twitter a:hover{
    color: rgb(20, 151, 202);
    border: 1px solid rgb(20, 151, 202);
}
.icon_sec .icon_linkedin a:hover{
    color: #0077b5;
    border: 1px solid #0077b5;
}
.icon_sec .icon_pinterest a:hover{
    color: #c8232c;
    border: 1px solid #c8232c;
}
.icon_sec .icon_behance a:hover{
    color: red;
    border: 1px solid red;
}
.menu_item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}
.content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    margin: 45px 0px;

}
.content_img_sec img{
    max-width: 160px;
}
.content_text_sec{
    top: 0px;
}
.content_text_sec p{
    top: 0px;
    font-family:var(--interfonts);
    font-weight: 400;
    font-size: 13px;
    line-height: 24px;
    color:var(--menufontclr);
    padding-right: 30px;
}
.menu_area{
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 80px;
}
.menu_sec{
    text-align: left;
}
.menu_sec h5{
    font-family:var(--interfonts);
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}

.menu_sec  li {
    list-style: none;
}
.menu_sec  li a{
    font-family: 'Inter';
    font-weight: 400;
    font-size: 13px;
    line-height: 35px;
    color:var(--menufontclr);
    text-decoration: none;
}


/* information section end */
/* footer section start */
footer{
    background: var(--footercolor);
    padding: 25px 0px;
}
footer .copyright{
    display: flex;
    justify-content:center;
    align-items: center;
    gap: 10px;
}
.copyright p{
    font-family: var(--jurafonts);
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    
}
.copyright span{
    color: var(--creativecolor);
}
/* footer section end */